@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.conatiner {
  border: solid 1px black;
  max-width: 1920;
}

.rotatingLogo {
  background: rgba(255, 255, 255, 1);
  padding: 200px 0px;
}

.navBar {
  width: 100%;
  position: absolute;
  top: 0%;
}

@media screen and (max-width: 400px) {
  .rotatingLogo {
    padding: 80px 0px;
  }
}
